/* .voting-system,
.AdminPage,
.VotingPage {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

p {
    font-size: 16px;
    color: #666;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

div {
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    justify-content: center;
    display: flex;
    width: 12rem;
}

#root {
    margin-top: 10rem;
}

div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.success {
    color: green;
    font-weight: bold;
} */